<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Add item </title>
    </head>
    <body>
         {% block body%}
         <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/phonestore/add/">Add</a></li>
        <li><a href="/phonestore/list/">Phone List</a></li>
        <li><a href="/phonestore/logina/">Login</a></li>
        <li><a href="/phonestore/register/">Register</a></li>
        <li><a href="/phonestore/addProduct/">Add Product</a></li>
    </ul>
</nav>
        {% endblock %}

    </body>
    </html>