{% extends 'PhoneStore/layout.html' %}

{% block body%}
<br>
 <h1 style="text-align:center;  "> <b> {{ phone.name }} </b></h1>
 <br>
 <ul class="list-group"> 
    <li class="list-group-item"> id : {{phone.id}} </li>
    <li class="list-group-item"> Manufacturer : {{ phone.manufacturer }} </li>
    <li class="list-group-item"> Phone Price : {{ phone.price }} SAR </li>
    <li class="list-group-item"> Description : {{ phone.description }} </li>
 </ul>
 <br>
 <div class='update'>
 <a href="{% url 'PhoneStore:update' phone.id %}" style="text-align:center;" > Update</a>
 </div>
 <br>
 <div class="back">
 <a href="{% url  'PhoneStore:phone' %}" >Go Back</a>
 </div>

       <form
       action="{% url 'PhoneStore:add' phone.id%}" 
       method='post'>
             {% csrf_token %}
            
        <input type="submit" value="Add to cart" />
 </form> 
            
       
        
{% endblock %}
    </html>