{% extends "PhoneStore/layout.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>add new product</title>
    <style>
      body {
        text-align: center;
      }
      form {
        display: inline-block;
      }
    </style>
  </head>
  {% block body %}
  <body>
    <form
      action="{% url 'PhoneStore:viewaddform'%}"
      method="post"
      class="viewaddform"
    >
      {% csrf_token %} {{form.name.label}} {{form.name}}
      <br />
      {{form.manufacturer.label}} {{form.manufacturer}}
      <br />
      {{form.price.label}} {{form.price}}
      <br />
      {{form.description.label}} {{form.description}}
      <br />
      <input type="submit" value="submit" />
    </form>
  </body>
  {% endblock %}
</html>